torch
ultralytics>=8.1.0
numpy==1.26.4
readQR
colorcorrectionML
easyocr
onnx
openvino
paramiko
opencv-python
scp
pandas
colour-science==0.4.4
plotly
tqdm
# Shiny Specifics
shiny>=0.10.0
shinywidgets
pillow
faicons
streamlit